[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==20.8b1"
pytest-cov = "*"
isort = "*"
coveralls = "*"
twine = "*"
pytest-socket = "*"

[packages]
factory-boy = "*"

[requires]
python_version = "3.9"
